*{
    margin:0;
    padding:0;
}
body{
    font-family: sans-serif;
    background:linear-gradient(to top , #d7d2e2 0%, #c2f2fb 100%);
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}
.container{
    width:300px;
    height: auto;
    background-color: rgb(37, 105, 214);
    padding: 30px;
    border-radius: 20px;

}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
input{
    border: none;
    outline: none;
    height: 30px;
    border-radius: 10px;
    padding: 10px;

}
h2{
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}
button{
    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgb(0, 255, 251);
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    cursor:pointer;

}